@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  /* font-family: "Comfortaa", sans-serif; */
  font-family: "Manjari", sans-serif;
  scroll-behavior: smooth;
}

/* scroll bar styles */

body::-webkit-scrollbar {

  width: 0px;
  /* width of the entire scrollbar */
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background: #e0e4fa;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #57cc99;
  /* color of the scroll thumb */
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
  color: #F43F5E;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}